<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <script type="module" defer src="../js/index.js"></script>
    <title>Document</title>
</head>
<body>
    <section class="Add_Text">
        <div><img src="../storage/img/Logo.png" alt=""></div>
        <input class="input_text" type="text" placeholder="Ingrese el texto aqui">
        <div class="div_buttons">
            <button id = "encriptar_button">Encriptar</button>
            <button id= "desencriptar_button">Desencriptar</button>
        </div>
    </section>

    

</body>
</html>