<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <script type="module" defer src="../js/index.js"></script>
    <title>Document</title>
</head>
<body>
    <section class="Add_Text">
        <div><img src="../storage/img/Logo.png" alt=""></div>
        <input class="input_text" type="text" placeholder="Ingrese el texto aqui">
        <div class="div_buttons">
            <div id="solo_letras"><img src="../storage/img/IconoExclamacion.png" alt=""><p>Solo letras minúsculas y sin acentos</p></div>
            <div class="div_div_buttons">
                <button id = "encriptar_button">Encriptar</button>
                <button id= "desencriptar_button">Desencriptar</button>
            </div>
        </div>
    </section>
    <section class="No_text" id="section_derecha">
        <img src="../storage/img/Muñeco.png">
        <h3>Ningún mensaje fue encontrado</h3>
        <p>Ingresa el texto que desees encriptar o desencriptar</p>
    </section>

    

</body>
</html>