:root{
    --bg-prymary: #0A3871;
    --bg-secondary: #D8DFE8;
    --bg-tertiary: #F3F5FC;
    --bg-quarter: #FFF;
    --color-prymary: #fff;
    --color-secondary: #0A3871;
    --color-tertiary: #495057;
    --bg-button-prymary: #0A3871;
    --bg-button-secondary: #D8DFE8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 
body {
    background-color: var(--bg-tertiary);
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 50px;
    gap: 40px;
}

.Add_Text {
    padding-left: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.input_text {
    color: var(--color-secondary);
    text-align: start;
    padding: 30px;
    padding-left: 100px;
    height: 60%; 
    width: 84%;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    position: relative;
}

.div_buttons {
    padding-top: 0px;
    padding-left: 100px;
    display: flex;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

::-webkit-input-placeholder{
    color: var(--color-secondary);
}

#solo_letras{
    display: flex;
    gap: 10px;
    color: var(--color-tertiary);
    }

.div_buttons > div > button {
    font-size: 1.1em;
    width: 35%;
    padding: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: var(--bg-button-prymary);
    border: 1px solid var(--bg-button-prymary);
}

#desencriptar_button {
    background-color: var(--bg-quarter);
    color: var(--bg-button-prymary);
}

.div_div_buttons {
    display: flex;
    gap: 50px;
}

#section_derecha {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    padding: 10px;
    background-color: var(--bg-quarter);
    position: relative;
    gap: 20px;
    font-size: 1.5em;
    text-align: center;
}

#section_derecha > img {
    width: 80%;
    height: 30%;
}

#section_derecha > p {
    font-size: .7em;
    color: rgb(90, 90, 90);
}